[flake8]
max-line-length = 120
# E203 is not black compliant https://github.com/psf/black/issues/315
extend-ignore = E203
exclude =
    submodules,
    venv,
    .venv,
    .git,
    dist,
    doc,
    .github,
    *lib/python*,
    *egg,
    build,
    pyrit/backend/main.py,
    pyrit/cli/pyrit_shell.py,
    pyrit/prompt_converter/morse_converter.py,
    pyrit/prompt_converter/emoji_converter.py,
    pyrit/scenarios/printer/console_printer.py,
    tests/unit/converter/test_prompt_converter.py,
    tests/unit/converter/test_unicode_confusable_converter.py,
    tests/unit/converter/test_first_letter_converter.py,
    tests/unit/converter/test_base2048_converter.py,
    tests/unit/converter/test_ecoji_converter.py,
    tests/unit/converter/test_bin_ascii_converter.py,
    tests/unit/models/test_seed.py
per-file-ignores =
    ./pyrit/score/gpt_classifier.py:E501,W291

copyright-check = True
copyright-regexp = # Copyright \(c\) Microsoft Corporation.\n# Licensed under the MIT license.
