[flake8]
max-line-length = 120
# E203 is not black compliant https://github.com/psf/black/issues/315
extend-ignore = E203
exclude =
    submodules,
    venv,
    .venv,
    .git,
    dist,
    doc,
    *lib/python*,
    *egg,
    build
per-file-ignores =
    ./pyrit/score/gpt_classifier.py:E501,W291

copyright-check = True
copyright-regexp = # Copyright \(c\) Microsoft Corporation.\n# Licensed under the MIT license.
