repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3.10

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8

  - repo: https://github.com/pycqa/pylint
    rev: v2.16.2
    hooks:
      - id: pylint
        args: [ --disable=all, --enable=unused-import ]

  # Calling local version of mypy rather the one from GitHub https://github.com/pre-commit/mirrors-mypy
  # because there is no way to sync the configs in pyproject.toml and the .pre-commit-config.yaml
  # See https://stackoverflow.com/a/75003826/4956355
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
