azure-core>=1.26.1
azure-identity>=1.12.0
jsonpickle>=3.0.2
logzero>=1.7.0
numpy>=1.26.2
onnx>=1.14.0
onnxruntime>=1.14.1
openai>=1.5.0
pydantic>2
python-dotenv>=1.0.0
scikit-learn>=1.3.2
tenacity>=8.2.2
termcolor>=2.3.0
tokenizers>=0.15.0
torch==2.1.2
transformers>=4.36.0
types-requests>=2.31.0.2