# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: PyRIT Documentation
author: Microsoft AI Red Team
copyright: Copyright 2024, Microsoft AI Red Team
logo: roakey.jpg

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: 'off'

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/Azure/PyRIT
  path_to_book: doc
  branch: main

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  use_edit_page_button: true

sphinx:
  extra_extensions:
    - 'sphinx.ext.autodoc'
    - 'sphinx.ext.napoleon'
    - 'sphinx.ext.viewcode'
    - 'sphinx.ext.autosummary'
    - 'sphinx.ext.intersphinx'
  config:
    autosummary_generate: true
    add_module_names: false
    suppress_warnings: ["etoc.toctree"]
    myst_heading_anchors: 4
    autodoc_default_options:
      members: true
      show-inheritance: true
      undoc-members: true
      private-members: false
    nitpick_ignore:
      - py:class
      # - py:exc
      # - py:func
      # - py:meth
      # - py:mod
      - py:obj
      # - py:var
    intersphinx_mapping:
      python:
        - "https://docs.python.org/3"
        - null
      numpy:
        - "https://numpy.org/doc/stable"
        - null
      sklearn:
        - "https://scikit-learn.org/stable"
        - null
      pytorch:
        - "https://pytorch.org/docs/stable"
        - null
